.manage-list {
  width:85%;
  float:right;
  a {
    &:hover {
      text-decoration:none;
    }
  }
  .toolbar {
    clear:both;
    a {
      color:#666;
    }
    .form-search, ul, span {
      float:left;
    }
    .form-search {
      position:relative;
      .btn {
        @include border-radius(0 14px 14px 0);
        position:absolute;
        right:1px;
        top:1px;
        background:url(/images/search.png) no-repeat center #fee0e0;
        border:none;
        width:35px;
        height:26px;
        text-indent:-9999px;
      }
    }
    .btn.delete {
      background:url(/images/delete.png) no-repeat center #eae9e9;
      text-indent:-9999px;
      width:15px;
      border: 1px solid #ccc;
      &:hover {
        background-color:#eee;
      }
    }
    .select {
      padding-left:10px;
      color:#666;
      select {
        width:70px;
      }
    }
  }
  .table {
    color:#666;
    td {
      text-align:center;
    }
    thead th {
      border-right:1px solid #eee;
      text-align:center;
      color:#903232;
    }
    .arrow a {
      @include inline-block;
      background:url(/images/arrow_dropdown.png) no-repeat center;
      width:16px;
      height:16px;
    }
    .title {
      text-align:left;
    }
    tfoot td, thead tr {
      background:url(/images/bg_table.png) repeat-x center;
    }
    tfoot td {
      padding: 0 8px;
    }
    td.edit a {
      display:block;
      background:url(/images/edit.png) no-repeat center;
      width:20px;
      height:20px;
      text-indent:-9999px;
      margin-left:15px;
    }
  }
  .total {
    float:left;
    line-height:36px;
    color:#903232;
  }
  .pagination {
    float:right;
    margin:0;
    ul {
      padding:4px 0;
    }
  }
}

.info a {
  @include inline-block;
  width:20px;
  height:20px;
  background:url(/images/info.png) no-repeat center ;
  text-indent:-9999px;
}