$color:#fffbf7;

#menu{
  width:10%;
  padding:20px;
  float:left;
  li{
    a{
      color:#903232;
      text-decoration:none;
      font-size:13px;
      display:inline-block;
      line-height:12px;
      height:15px;
      width:100px;
      margin:5px 0;
      padding:5px 5px 5px 30px;
      &:hover{
        color:#fff;
        background-color:#903232;
      }
    }
  }
  .tab-content{
    background-color:#fff;
  }
  .tab-pane{
    padding-top:10px;
    border-top:1px solid #DDD;
    border-right:1px solid #DDD;
    @include border-top-right-radius(6px); 
  }
}

.textbox{
  width:100px;
}
.open > .dropdown-toggle, .dropdown.open > .dropdown-toggle{
  background-color:darken($color, 20%);  
}
.icons-post{
  
}
