@import "compass";
@include global-reset;

@import "icons";

#menu{
  width:100%;
  li{
    a{
      color:#903232;
      text-decoration:none;
      font-size:13px;
      padding-left:30px;
      display:inline-block;
      line-height:20px;
      height:20px;
    }
  }
}
