.wrapper#menu
  %ul
    %li.active=link_to "使用者首頁", "#",:title => "使用者首頁",:class => "icons-userpage"
    %li=link_to "發表文章", "#",:title => "發表文章",:class => "icons-post"
    %li=link_to "文章管理列表", "#",:title =>"文章管理列表",:class =>"icons-list"
    %li=link_to "部落格設定","#", :title =>"部落格設定",:class =>"icons-setup"
    %li=link_to "匯入/備份","#", :title =>"匯入/備份",:class =>"icons-backup"
    %li=link_to "樣式管理","#", :title =>"樣式管理",:class =>"icons-template"
    %li=link_to "相簿","#", :title =>"相簿",:class =>"icons-album"

.frame.post
  %h2.heading 發表文章
  .inner
    %form
      .title
        .section
          %label
            文章標題
            %span *
          %input{:type => "text" , :class => "span8"}
        .top
          %input{:type => "checkbox"}
            我要置頂
          %span.info=link_to "說明", "#", :title => "說明"
      .category
        .section
          %label
            文章全站分類
            %span *
          %select{:class => "span2"}
            %option 請選擇
        .section
          %label
            個人文章分類
          %select{:class => "span2"}
            %option 不分類
          %input{:type => "button", :value => "新增", :class => "btn"}
        .section
          %label
            文章開放狀態
          %select{:class => "span2"}
            %option 請選擇
      .part.time
        %label 發表時間
        %ul
          %li
            %input{:type => "radio"} 
              現在時間
          %li
            %input{:type => "radio"}
              自訂時間
            %ul
              %li
                %select{:class => "span2"}
                  %option 請選擇
                年
              %li  
                %select{:class => "span2"}
                  %option 請選擇
                月
              %li  
                %select{:class => "span2"}
                  %option 請選擇
                日
              %li  
                %select{:class => "span2"}
                  %option 請選擇
                時
              %li  
                %select{:class => "span2"}
                  %option 請選擇
                分
      .part.sync
        %label
          同步發表
        %ul
          %li
            %input{:type => "radio"}
              不同步
          %li
            %input{:type => "radio"}
              同步
              %ul
                %li
                  %input{:type => "radio"}
                    Facebook
                %li
                  %input{:type => "radio"}
                    Pixnet
                %li
                  %input{:type => "radio"}
                    無名小站
      .part.comment
        %label
          回應設定
        %ul
          %li
            %input{:type => "radio"}
              完全開放
          %li
            %input{:type => "radio"}
              只允許會員留言
          %li
            %input{:type => "radio"}
              只允許好友留言
          %li
            %input{:type => "radio"}
              不允許留言
      .part.tag
        %label
          文章標籤
          %span.info=link_to "說明", "#", :title => "說明"
        %input{:type => "text" , :class => "span8"}
      .part.quote
        %label
          引用通知
          %span.info=link_to "說明", "#", :title => "說明"
        %input{:type => "text" , :class => "span8"}
      .submit
        %input{:type => "submit" , :class => "btn btn-danger", :value => "發表文章"}
        %input{:type => "submit" , :class => "btn btn-info", :value => "預覽文章"}
        %input{:type => "submit" , :class => "btn btn-warning", :value => "儲存草稿"}
        %input{:type => "submit" , :class => "btn btn-cancel", :value => "取消"}