.wrapper#menu
  %ul
    %li.active=link_to "使用者首頁", "#",:title => "使用者首頁",:class => "icons-userpage"
    %li=link_to "發表文章", "#",:title => "發表文章",:class => "icons-post"
    %li=link_to "文章管理列表", "#",:title =>"文章管理列表",:class =>"icons-list"
    %li=link_to "部落格設定","#", :title =>"部落格設定",:class =>"icons-setup"
    %li=link_to "匯入/備份","#", :title =>"匯入/備份",:class =>"icons-backup"
    %li=link_to "樣式管理","#", :title =>"樣式管理",:class =>"icons-template"
    %li=link_to "相簿","#", :title =>"相簿",:class =>"icons-album"
        