%script
  $(function () {
  $('.tabs a:last').tab('show')
  })
.wrapper#menu
  .tabbable.tabs-left
    %ul{:class=>"nav nav-tabs"}
      %li.active=link_to "使用者首頁", "#userpage",:title=>"使用者首頁",:datatoggle=>"tab",:class=>"icons-userpage"
      %li=link_to "發表文章", "#post",:title=>"發表文章",:datatoggle=>"tab",:class=>"icons-post"
      %li=link_to "文章管理列表", "#list",:title=>"文章管理列表",:datatoggle=>"tab",:class=>"icons-list"
    .tab-content
      #userpage{:class=>"tab-pane active"}
        %p 使用者首頁
      #post{:class=>"tab-pane"}
        %p 發表文章
      #list{:class=>"tab-pane"}
        %p 文章管理列表
      